<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="viewStateOptimizer" type="ViewStateOptimizer.ViewStateOptimizerConfigurationSection"/>
	</configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
		<sessionState
			timeout="3" />
    </system.web>

	<viewStateOptimizer type="FileStorage">
		<fileStorageViewStateOptimizer viewStateKey="_ViewStateOptimizer" viewStateStorageRelativeFolder="~/ViewStateOptimizer/VsFiles" viewStatePrefixValue="_vso"/>
	</viewStateOptimizer>

</configuration>
